#container {
    width: 100%;
    height: auto;
    text-align: center;
}

/* 图的标题 */
.chart-title-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.chart-title-ch {
    font-weight: bold;
    font-size: 30px;

}

.chart-title-en {
    font-size: 12px;

}

/* 分布散点图 */
#scatter-plot-chart {
    width: 100%;
    height: 500px;
}

/* 植物种类旭日图 */
#plant-species-chart {
    width: 100%;
    height: 700px;
}

/* 树叶形状的图 */
#leaf-shape-chart {
    width: 100%;
    height: 500px;
}

/* 画叶序的图 */
#leaf-order-chart {
    width: 100%;
    height: 500px;
}